<%= form_with(model: pinpin_pin_worshopss, local: true) do |form| %>
  <% if pinpin_pin_worshopss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pinpin_pin_worshopss.errors.count, "error") %> prohibited this pinpin_pin_worshopss from being saved:</h2>

      <ul>
      <% pinpin_pin_worshopss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :pinpin_pin_worshopss_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
