<%= form_with(model: worship, local: true) do |form| %>
  <% if worship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worship.errors.count, "error") %> prohibited this worship from being saved:</h2>

      <ul>
      <% worship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :days %>
    <%= form.text_field :days, id: :worship_days %>
  </div>


    <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
